@charset "UTF-8";

article, aside, footer, header, main, nav, section {
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav, section {
	padding: 1px;
	margin: 1px;
}   

.banner {
	text-align: center;
	background-color: #405d27;
	color: #c1946a;
	width: auto;

}

body {
	width: 960px;
	margin-left: auto ;
	margin-right: auto;
	background-color: #405d27 ;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

nav{
	background-color: #82b74b;
	padding: 10px;
	margin-top: 1px;
	text-align: center;
}




li a {
	color: black;
	text-decoration: inherit;
	text-overflow: inherit;
}

li{
	display: inline;
	margin-left: auto ;
	margin-right: auto;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}



a:link, a:visited {
  background-color: #3e4444;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #c1946a;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  color: #c1946a;
}

.price {
  color: grey;
  font-size: 22px;
  color: black;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.lin1{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}


.sticky{
	position: sticky;
  top: 0;
}