@charset "UTF-8";


article, aside, footer, header, main, nav, section {
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav, section {
	padding: 1px;
	margin: 1px;
}   

img {
	margin: auto;
	position:relative;
	height: 100px;
} 

.banner {
	text-align: center;
	background-color: #405d27;
	color: #c1946a;
	width: auto;

}

body {
	width: 960px;
	margin-left: auto ;
	margin-right: auto;
	background-color: #405d27 ;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

nav{
	background-color: #82b74b;
	padding: 10px;
	margin-top: 1px;
	text-align: center;
}




li a {
	color: black;
	text-decoration: inherit;
	text-overflow: inherit;
}

li{
	display: inline;
	margin-left: auto ;
	margin-right: auto;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}



a:link, a:visited {
  background-color: #3e4444;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #c1946a;
}



section {
	width: 550px;
	background-color: #c1946a;
	margin-top: 10px;
	padding: 5px;
}

article {
	background-color: #3e4444 ;
	margin-top: 5px ;
	padding: 10px 15px;
	color: white;
}

main {
	width: 640px;
	float: left;
	margin-bottom: 10px;
}

aside {
	background-color: #c1946a;
	width: 290px;
	float: right;
	padding: 5px;
	margin-top: 15px;
	text-align: center;
}

footer {
	clear: both;
	background-color:  #82b74b;
	color: black;
	padding: 5px 20px;
	text-align: center;
}




.sticky {
  position: sticky;
  top: 0;
  
}


.container{
	margin: auto;
  background-color: #3e4444;
  padding: 40px;
  width: 871px;
  height: 475px;

}



ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 450px;
}

ul.slider li{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
}

ul.slider li img{
  width: 110%;
  height: 420px;
  object-fit: cover;
}

ul.slider li:first-child{
  opacity: 1;
}

ul.slider li:target{
  opacity: 1;
}


.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.headeraux {
	text-align: center;
	background-color: #660000;
	color: white;
	width: auto;

}




.sticky {
  position: sticky;
  top: 0;
  
}

.lin1{
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-start;
}

.img{
	height: 229px;
}

.parra{
	text-align: right;
}







.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.lin1{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}





.caja1{
	width: 650px;
	height: 180px;
	margin: auto;
	padding: 5px;
	color:#c1946a ;
	border-color: #c1946a;
}

.caja2{
	width: 650px;
	height: 370px;
	margin: auto;
	padding: 5px;
	color: #c1946a;
	border-color: #c1946a;
}

.cajaizq{
	width: 250px;
	height: 30px;
	background-color:#82b74b;
	color: black;
	float: left;
	margin: auto;
	margin-bottom: 1px;
	text-align: right;

}

.cajader{
	width: 400px;
	height: 30px;
	background-color: #82b74b;
	color: black;
	display: inline-block;
	margin: auto;
	margin-bottom: 1px;

}

.cajaizq2{
	width: 250px;
	height: 85px;
	background-color:#82b74b ;
	text-align: right;
	color: black;
	float: left;
	margin: auto;
	margin-bottom: 1px;
}

.cajader2{
	width: 400px;
	height: 85px;
	background-color:#82b74b ;
	color: black;
	display: inline-block;
	margin: auto;
	margin-bottom: 1px;
}


.cajaizq3{
	width: 250px;
	height: 60px;
	background-color:#82b74b ;
	text-align: right;
	color: black;
	float: left;
	margin: auto;
	margin-bottom: 1px;
}


.cajader3{
	width:400px;
	height: 60px;
	background-color:#82b74b;
	color: black;
	display: inline-block;
	margin: auto;
	margin-bottom: 1px;
}


.titulo{
	text-align: center;
	color:black;
	background-color:green;
}


.boton{
	text-align: right;
}

.compra{
	margin-top: 35px;
	text-align: center;
	color: #c1946a;
}




